header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 250px;
    background: linear-gradient(90deg, rgba(159, 170, 196, 1) 0%, rgba(31, 30, 47, 1) 100%);
    animation: alternate;
    border: solid 1px;
}

#avatar {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

h1 {
    background: linear-gradient(90deg, rgba(171, 171, 171, 1) 0%, rgba(105, 104, 104, 1) 100%);
    background-clip: text;
    color: transparent;
    margin-top: 30px;
}

h3 {
    background: linear-gradient(90deg, rgba(171, 171, 171, 1) 0%, rgba(105, 104, 104, 1) 100%);
    background-clip: text;
    color: transparent;
}
